<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>

		<add key="ConnectionString" value="Server=194.203.100.237;database=Unico_Sybase;uid=UnicoUser;pwd=passw0rd%%;"/>
		<add key="UADConnectionString" value="Server=194.203.100.100;database=UAP;uid=SAP_APP;pwd=passw0rd%%;"/>
		<add key="ErrorLogFile" value="~/Err0r/New3rr01/Errorlog.txt"/>
		<add key="SiteURL"  value="index.aspx" />
		<add key="LoginPage"  value="Login.aspx" />
		<add key="Client"  value="310" />
	</appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=Sybase.ASEOLEDBProvider.2;Data Source=PFA;Initial Catalog=PFA;User ID=sa"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString2" connectionString="Dsn=PFA;uid=sa"
      providerName="System.Data.Odbc" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>